/* Header */
.dashboard-logo{
    width: 180px;
    margin-top: 5px;
}


/* Datatable */
table.table.dataTable > tbody > tr {
    font-size: 13px;
}
table.dataTable thead .sorting:before,
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc:after {
    display: none !important;
    content: "" !important;
}
#leads-table th {
    white-space: nowrap;
    font-size: 12px;
}
/*input#dt-search-0 {*/
/*    border: 1px solid #dfdfdf !important;*/
/*    border-radius: 5px !important;*/
/*}*/
/*@media screen and (max-width: 992px) {*/
/*    #statusFilter, #scoreFilter{*/
/*        margin-bottom: 10px !important;*/
/*    }*/
/*    button#resetFilters {*/
/*        float: right;*/
/*    }*/
/*}*/
.dataTables_filter {
    float: right !important;
}

.dataTables_paginate .pagination {
    justify-content: flex-end;
}

.dataTables_length, .dataTables_info {
    margin-top: 10px;
}
.custom-thumbnail{
    width: 70px;
    height: 70px;
}

/* Reposition the close button absolutely inside the image box */
.lightbox .lb-outerContainer {
    position: relative;
}

.lb-data .lb-close {
    position: absolute !important;
    top: -30px;
    right: 40px;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 4px 8px;
    font-size: 22px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    line-height: 1;
}

/* Optional: hide default image close icon (if present) */
.lb-data .lb-close img {
    display: none;
}


/* Form */
.required{
    color: #ce0000;
}
.btn-close.red {
    filter: invert(34%) sepia(96%) saturate(7471%) hue-rotate(358deg) brightness(96%) contrast(112%);
}

